
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.cabecalho__esquerdo {
    display: flex;
    align-items: center;
}
.cabecalho__esquerdo__botao-menu {
    background: var(--branco);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-hamburguer {
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: var(--azul);
 }

.cabecalho__direito {
    display: flex;
    gap: 16px;
    margin-right: 24px;
    align-items: center;

}

.active {
    background: var(--azul-degrade);
    color: var(--branco);
    visibility: visible;
}